  /* Light d*/
@font-face {
	font-family: 'SF Pro Display';
	src: url('src/assets/fonts/SF-UI-Text-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
  
  /* Light Italic */
@font-face {
	font-family: 'SF Pro Display';
	src: url('src/assets/fonts/SF-UI-Text-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
  
  /* Regular */
@font-face {
	font-family: 'SF Pro Display';
	src: url('src/assets/fonts/SF-UI-Text-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
  
  /* Medium */
@font-face {
	font-family: 'SF Pro Display';
	src: url('src/assets/fonts/SF-UI-Text-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
  
  /* Semibold */
@font-face {
	font-family: 'SF Pro Display';
	src: url('src/assets/fonts/SF-UI-Text-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
  
  /* Bold */
@font-face {
	font-family: 'SF Pro Display';
	src: url('src/assets/fonts/SF-UI-Text-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
  
  /* Black */
@font-face {
	font-family: 'SF Pro Display';
	src: url('src/assets/fonts/SF-UI-Display-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}  

:root {
	--font-family: "SF Pro Display", sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: #e8e8e8;
}

button {
	cursor: pointer;
}

.header {
	padding: 0
}

.header__container {
	height: 70px;
	padding-inline: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__left-container {
	display: flex;
	align-items: center;
	gap: 8px;
}
.header__right-container {
	display: flex;
	align-items: center;
	gap: 50px;
}

.header__names {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 19px;
	text-align: center;
	color: #7c7c7c;
}

.header__telephone-number {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	color: #444;
	text-decoration: none;
	padding: 10px;
	transition: all 0.2s ease;
}
.header__telephone-number:hover {
	background-color: #fff;
	border-radius: 25px;
}

.header__telephone-button {
	display: none;
}

.header__button {
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	width: 160px;
	height: 30px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #444;
	background: #e8e8e8;
	transition: all 0.2s ease;
}

.header__button:hover {
	background: #ffffff;
	border-radius: 25px;
}

.header__svg-button > svg {
	color: #7C7C7C;
	fill: #e8e8e8;
	transition: all 0.2s ease;
}
.header__svg-button > svg:hover {
	fill: #0077FF;
	color: white;
}

hr {
	width: 100vw;
	color: #C4C4C4;
	border: 1px solid;
	position: relative;
}





.main-block__images {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	top: 40px;
}

.main-block__images__img1 {
	margin-left: 104px;
	z-index: 1000;
}

.main-block__images__img2 {
	margin-right: 136px;
	z-index: 1000;
}

.main-text {
	text-wrap: nowrap;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	color: #7c7c7c;
}

.main-block__gray-block {
	width: 100%;
	background-color: #7c7c7c;
	position: relative;
	z-index: 6000;
	padding-inline: 100px;
	padding-top: 20px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-between;
}

.woman-biography {
	width: 423px;
}

.woman-biography h5 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 14px;
	color: #fff;
}

.woman-biography h4 {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

.woman-biography p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
}

.woman-biography blockquote {
	font-family: var(--font-family);
	font-style: italic;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	margin-top: 16px;
}

.Ekat-Alina {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	color: #fff;
}

.main__logo {
	height: 116px;
	width: 116px;
}


.services-section {
	padding-inline: 100px;
	margin-bottom: 45px;
}

.services-main-text {
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	color: #7c7c7c;
	margin-top: 54px;
	margin-bottom: 34px;
}

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}

.service-block {
	display: flex;
    flex-direction: column;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	width: 393px;
	min-height: 487px;
	padding-top: 23px;
	padding-bottom: 11px;
	padding-inline: 28px;
	position: relative;
}

.service-block__last {
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	width: 393px;
	min-height: auto;
	height: auto;
	padding-top: 23px;
	padding-bottom: 11px;
	padding-inline: 28px;
	position: relative;
	align-self: flex-start;
}

.service-block__paragraph {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	color: #444;
	margin-bottom: 21px;
}

.service-block > svg {
	display: block;
	margin: auto;
	margin-bottom: 21px;
}

.service-block__last > svg {
	display: block;
	margin: auto;
	margin-bottom: 21px;
}

.service-block__list {
	list-style: none;
	flex-grow: 1;
    margin-bottom: 20px;
}

.service-block__list > li {
	margin-bottom: 7px;
	position: relative;
	line-height: 1.2;
}
.service-block__list > li::before {
  content: ""; 
  position: absolute;
  left: -15px;
  top: 3px;
  
  width: 8px;
  height: 8px;
  background-color: #EFD475;
  border-radius: 50%;
  display: inline-block;
}

.service-block__list p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 107%;
	color: #444;
}

.service-block__bottom-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	height: 66px;
	margin: auto;
}

.service-block__button {
	border-radius: 1px;
	border: 0;
	width: 200px;
	height: 40px;
	background: #eedc9d;

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #444;
	transition: all 0.2s ease;
}
.service-block__button:hover {
	background: #efd475;
}

.service-block__link {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #444;
	text-decoration: none;
	position: relative;
}

.service-block__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: currentColor;
	border-radius: 2px;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.2s ease;
}
.service-block__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.service-spread {
	position: absolute;
	right: 13px;
	top: 57px;
	display: none !important;
}

.line-off {
	display: none;
}

.fixed-block {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 52px;
	position: fixed;
	z-index: 50000;
	right: 24px;
	top: 50%;
}

.fixed-block * {
	cursor: pointer;
}


@media (max-width: 1400px) {
	.main-text {
		top: -4%;
	}
	.Ekat-Alina {
		font-size: 20px;
	}
}

@media (max-width: 1100px) {
	.header__container {
		padding-inline: 20px;
	}

	.main-block__gray-block {
		padding-inline: 20px;
	}
	.main-block__images__img1 {
		margin-left: 20px;
	}
	
	.main-block__images__img2 {
		margin-right: 30px;
	}

	.woman-biography {
		width: 300px;
	}

	.services-section {
		padding-inline: 20px;
	}
}

@media (max-width: 900px) {
	.main-block__images__img1 {
		width: calc(469px * 0.7);
  		height: auto;
	}
	
	.main-block__images__img2 {
		width: calc(381px * 0.7);
  		height: auto;
	}
	.main-block__images {
		top: 60px;
	}
}

@media (max-width: 768px) {
	.header__logo svg {
		height: 37px;
		width: 37px;
	}
	.header__telephone-number {
		display: none;
	}
	.header__svg-button {
		display: none;
	}
	.header__telephone-button {
		display: inline;
	}
	.header__container {
		height: 50px;
		justify-content: space-between;
		padding-inline: 10px;
	}
	.header__right-container {
		gap: 20px;
	}
	.services {
		justify-content: center;
	}


	.Ekat-Alina {
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%) scale(0.7);
	}

	.main-block__gray-block {
		padding-top: 150px;
		padding-inline: 10px;
		gap: 40px;
	}
}

@media (max-width: 550px) {
	.main-block__images__img1 {
		width: calc(469px * 0.5);
  		height: auto;
	}
	
	.main-block__images__img2 {
		width: calc(381px * 0.5);
  		height: auto;
	}
	.main-text {
		font-size: 18px;
		text-wrap: wrap;
		top: -30px;
	}

	.main-block {
		position: relative;
		top: 30px;
	}
	.service-block {
		width: 320px;
		height: 153px;
		padding-top: 13px;
		min-height: 0px;
		overflow: hidden;
	}
	.def-div {
		display: flex;
		flex-direction: column;
		background-color: white;
		border-radius: 3px;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
		width: 320px;
		height: auto;
		min-height: 0px;
		padding-top: 13px;
		padding-bottom: 11px;
		padding-inline: 28px;
		position: relative;
		overflow: hidden;
		animation: spread 0.5s ease;
	}
	.service-block__last > svg:first-of-type {
		transform: scale(0.8125);
		flex-shrink: 0
	}
	.service-block > svg:first-of-type {
		transform: scale(0.8125);
		flex-shrink: 0
	}
	.def-div > svg:first-of-type {
		transform: scale(0.8125);
		flex-shrink: 0;
		display: block;
		margin: auto;
		margin-bottom: 21px;
	}
	.service-block__paragraph {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 16px;
		line-height: 94%;
		text-align: center;
		color: #444;
		letter-spacing: -1.3px;
		text-wrap: nowrap;
	}
	.service-block__last {
		width: 320px;
		height: 153px;
		padding-top: 13px;
		min-height: 0px;
		overflow: hidden;
	}
}

@media (max-width: 450px) {
	.fixed-block {
		display: flex;
		flex-direction: column;
		gap: 9px;
		position: fixed;
		z-index: 50000;
		left: 0px;
		top: 30%;
	}
	.header__logo svg {
		height: 37px;
		width: 37px;
	}
	.header__names {
		font-size: 12px;
	}
	.header__button {
		width: 93px;
		height: 30px;
		font-size: 10px;
		text-wrap: nowrap;
		padding: 0
	}
	.header__container {
		padding-inline: 10px;
	}
	.header__left-container {
		gap: 5px;
	}

	.woman-biography h5 {
		font-size: 10px;
	}
	
	.woman-biography h4 {
		font-size: 10px;
	}
	
	.woman-biography p {
		font-size: 10px;
	}
	
	.woman-biography blockquote {
		font-size: 10px;
	}
	
	.main-block__images__img1 {
		margin-left: -50px;
	}
	
	.main-block__images__img2 {
		width: calc(381px * 0.5);
  		height: auto;
	}
}

@keyframes spread {
    0% { max-height: 153px; }
    100% { max-height: 800px; }
}